body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 81, 81);
    color: #e9b7b7;

  
   
    
    text-align: center;
    padding: 0.1rem;
  }
  footer p{
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 81, 81);
    color: #e9b7b7;
    text-align: center;
    padding: 0.1rem;
  }